<form action="./" method="post" enctype="multipart/form-data" id="fsControl" class="buttons">
  <label id="newFolder" class="hoverable">
    New Folder
  </label>
  <label for="filesUpload" class="hoverable">
    Upload Files
  </label>
  <input type="file" multiple="true" name="filesUpload" id="filesUpload" />
</form>
