/* Custom Table */
.table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
  text-decoration: none;
}
.entry {
  transition: background-color var(--transition-time) linear;
}
.entry:hover {
  background-color: #4e6480;
}
.cell {
  display: table-cell;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.25rem;
  color: var(--text-color);
}

/* Alignment Styles */
.text {
  text-align: left;
}
.number {
  text-align: right;
}

/* Empty Directory Styles */
p {
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.25rem;
  color: var(--text-color);
}
