/* Custom Table */
.table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
  text-decoration: none;
}
.cell {
  display: table-cell;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.15rem;
  color: var(--text-color);
}
.head {
  font-family: var(--header-font);
  font-size: 1.75rem;
  text-decoration: underline;
}

/* Hoverable Elements */
.hoverable {
  transition: background-color var(--transition-time) linear;
  cursor: pointer;
}
.hoverable:hover {
  background-color: #4e6480;
}

/* Button Styles */
.buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
label {
  display: block;
  margin: 0;
  padding: 1rem;
  border: 0;
  flex-grow: 1;
  background-color: transparent;
  font-family: var(--header-font);
  font-size: 4rem;
  color: var(--text-color);
}
input[type=file] {
  display: none;
}

/* Alignment Styles */
.text {
  text-align: left;
}
.number {
  text-align: right;
}

/* Empty Directory Styles */
p {
  margin: 0;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.15rem;
  color: var(--text-color);
}
