/* Custom Table */
.table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
  text-decoration: none;
}
.cell {
  display: table-cell;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.15rem;
  color: var(--text-color);
}
.head {
  font-family: var(--header-font);
  font-size: 1.75rem;
  text-decoration: underline;
}
div.error {
  position: relative;
}
div.error::before {
  content: 'The folder name is invalid. Only use digits and characters from the alphabet.';
  position: absolute;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  display: block;
  padding: 0.5rem;
  border: 0.25rem solid #f00;
  width: 75%;
  background-color: rgba(255, 0, 0, 0.25);
  box-shadow: -0.25rem 0.25rem 0.1rem #222;
  text-align: center;
}

/* Hoverable Elements */
.hoverable {
  transition: background-color var(--transition-time) linear;
  cursor: pointer;
}
.hoverable:hover {
  background-color: #4e6480;
}

/* Button Styles */
.buttons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
label {
  display: block;
  margin: 0;
  padding: 1rem;
  border: 0;
  flex-grow: 1;
  background-color: transparent;
  font-family: var(--header-font);
  font-size: 4rem;
  color: var(--text-color);
}
input[type=text] {
  padding: 0.5rem;
  border: 0;
  outline: 0.25rem solid var(--main-theme-color);
  width: 100%;
  background-color: var(--main-bg-color);

  font-family: var(--text-font);
  font-size: 1.15rem;
  color: var(--text-color);

  transition:
    outline var(--transition-time) ease-in-out,
    background-color var(--transition-time) ease-in-out;
}
input[type=text].invalid {
  outline: 0.25rem solid #f00;
  background-color: rgba(255, 0, 0, 0.25);
}
input[type=file] {
  display: none;
}

/* Alignment Styles */
.text {
  text-align: left;
}
.number {
  text-align: right;
}

/* Empty Directory Styles */
p {
  margin: 0;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 1.15rem;
  color: var(--text-color);
}
