/* Fonts */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  src: url(/fonts/FiraSans-Regular.ttf) format('truetype');
}

/* Global Variables */
:root {
 --transition-time: 150ms;
}

/* Global Styles */
/* * {
  box-sizing: border-box;
} */
:root, body {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: #282d32;
}
