/* Fonts */
@font-face {
  /* Use for headers and other important text */
  font-family: 'Fira Sans';
  font-style: normal;
  src: url(/fonts/FiraSans-Regular.ttf) format('truetype');
}
@font-face {
  /* Use for general-purpose text */
  font-family: Roboto;
  font-style: normal;
  src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

/* Global Variables */
:root {
  --main-theme-color: #236ea5;
  --main-bg-color: #282d32;
  --nav-bg-color: #222;
  --nav-bg-color-hover: #181818;
  --transition-time: 150ms;
}

/* Global Styles */
* {
  box-sizing: border-box;
}
:root, body {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: var(--main-bg-color);
}
