nav {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--nav-bg-color);
  list-style-type: none;
}
nav > a {
  display: block;
  padding: 1rem 1rem 1rem 1.5rem;
  box-shadow: inset 0 0 var(--nav-bg-color);
  cursor: pointer;
  font-family: var(--header-font);
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none; 
  transition: box-shadow var(--transition-time) linear;
}
nav > a:hover {
  box-shadow: inset 0.5rem 0 var(--main-theme-color);
  background-color: var(--nav-bg-color-hover);
  color: var(--main-theme-color);
}
