nav > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #222;
  list-style-type: none;
}
.nav-links {
  display: inline-block;
  border-left: solid #222 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-family: 'Fira Sans';
  transition: border-left var(--transition-time) linear;
}
.nav-links:hover {
  border-left: solid #236ea5 0.5rem;
}
.nav-links:hover > a {
  color: #236ea5;
}
.nav-links > a {
  color: #ddd;
  text-decoration: none; 
}
