nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #222;
  list-style-type: none;
}
.nav-links {
  display: block;
  padding: 1rem 1rem 1rem 1.5rem;
  box-shadow: inset 0 0 #222;
  cursor: pointer;
  font-family: 'Fira Sans';
  font-size: 1.1rem;
  transition: box-shadow var(--transition-time) linear;
}
.nav-links:hover {
  box-shadow: inset 0.5rem 0 #236ea5;
  background-color: #181818;
}
.nav-links:hover > a {
  color: #236ea5;
}
.nav-links > a {
  color: #ddd;
  text-decoration: none; 
}
