<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= filepath; %></title>
    <%- include('partials/meta'); %>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- List of Files -->
    <% if (files.length) { %>
      <ul>
        <% for (const file of files) { %>
          <li>
            <%= file %>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No files in the directory yet.</p>
    <% } %>
  </body>
</html>
