<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= filepath; %></title>
    <%- include('partials/meta'); %>
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- List of Files -->
    <ul>
      <% for (const file of files) { %>
        <li>
          <%= file %>
        </li>
      <% } %>
    </ul>
  </body>
</html>
