<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= filepath %></title>
    <%- include('partials/meta') %>
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar') %>
  </body>
</html>
