<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Backup Server</title>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- Main Content -->
    <main class="container">
      <p>TODO&#58; Add content</p>
    </main>
  </body>
</html>
