<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Backup Server</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Basti Ortiz" />
    <meta name="theme-color" content="#236ea5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul>
        <li class="nav-links">
          <a href="/" rel="noopener noreferrer">
            Home
          </a>
        </li>
        <li class="nav-links">
          <a href="https://github.com/Some-Dood/home-backup" target="_blank" rel="noopener noreferrer">
            Source Code on GitHub
          </a>
        </li>
      </ul>
    </nav>
    <!-- Main Content -->
    <div class="container">
      <p>TODO&#58; Add content</p>
    </div>
  </body>
</html>
