<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Backup Server</title>
    <%- include('partials/meta'); %>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-bar'); %>
    <!-- Main Content -->
    <div class="container">
      <main>
        <p>TODO&#58; Add content</p>
      </main>
    </div>
  </body>
</html>
