<nav>
    <a href="/" rel="noopener noreferrer">
      Home
    </a>
    <a href="/files" rel="noopener noreferrer">
      Files
    </a>
    <a href="https://github.com/Some-Dood/home-backup" target="_blank" rel="noopener noreferrer">
      Source Code on GitHub
    </a>
</nav>
